.about {
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: $white;
    gap: 24px;

    &_item {
        display: flex;
        align-items: center;
        gap: 12px;

        &_p {
            opacity: 0.7;
            font-weight: 400;
        }
    }

    &_line {
        border-bottom: 1px solid #030229;
        opacity: 0.1;
        width: 80%;
    }
}